
<div class="panel panel-info">
    <div class="panel-heading">
        Pill Intake History
    </div>
    <div class="panel-body">
        @foreach (var item in Model.PillReportings)
        {

            <div class="form-group row">

                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label class="control-label">
                            @item.MedicationInfo.MedicationName
                        </label>
                    </div>
                    <div class="form-inline col-xs-12 ">
                        @if (item.PillStatus == false)
                        {
                        <p>Skipped</p>

                        }
                        @if (item.PillStatus == true)
                        {
                            <p>Success</p>
                        }
                        @*@if (item.PillStatus.HasValue && item.PillStatus.Value == false)
                        {
                            <p>Skipped</p>
                        }*@
                    </div>
                    <div class="form-inline col-xs-12 ">
                        @item.PillTimeStamp
                    </div>
                </div>

            </div>
            <div class="form-group row div-border">
            </div>

        }
    </div>

</div>